/* PAGE */

#page {
  padding: 0;
}

.navbar {
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

/* PALETA DE CORES */

.purple1 {
  color: #fd5dff;
}

.purple2 {
  color: #7d01a1;
}

.green1 {
  color: #03e571;
  background-color: #03e571;
}

.green2 {
  color: #00fe81;
  background-color: #00fe81;
}

.red {
  color: #fe4a72;
}

.blue1 {
  color: #00ffed;
  background-color: #00ffed;
}

.blue2 {
  color: #00b0f5;
}

.gray {
  color: #d9d9d9;
}

/* Home */

.step {
  height: 20px;
}

.step div {
  height: inherit;
}

.music-search {
  margin-top: 150px;
  margin-bottom: 10px;
}

.music-search .form-group {
  margin-bottom: 0px;
}

.music-search ul {
  margin: 0;
  padding-left: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000000;
  margin-left: 15px;
  margin-right: 15px;
}

.music-search ul li {
  list-style: none;
  font-size: 15px;
  padding: 12px;
  color: black;
}

.music-search ul li a {
  color: black;
}

.music-search ul li:hover {
  background-color: #d9d9d9;
  text-decoration: none;
}

.music-search ul li a:hover {
  text-decoration: none;
}

.download {
  margin-top: 20px;
}

.colors .square {
  cursor: pointer;
}

.colors .square:focus {
  outline: 1px solid blue;
}

/* .square {
  height: 80px;
  width: 80px;
  background: red;
} */

.rectangle {
  height: 20px;
  width: 60px;
  background: black;
  position: relative;
  top: 30px;
  left: 10px;
}

.black {
  background: #000000;
}

.presentation-style {
  margin-top: 40px;
  text-align: center;
}

.style-header {
  background-color: #e4e4e4;
  padding: 5px 10px;
}

.style-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 50px;
}

.font .font-options {
  background: transparent;
}

.default-font {
  font-family: 'Roboto'
}

.font-options .font-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 7px 0;
  height: 60px;
  border-radius: 3px;
}

.font-options .font-card-body {
  font-size: 14px;
}

.primary-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
}

.primary-background.default-bg {
  background-color: #000000;
}

.secondary-background {
  width: 60%;
  height: 20px;
}

.secondary-background.default-inner {
  background-color: #8393ca;
}

.background .background-options {
  background: transparent;
}

.background-options .background-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 7px 0;
  height: 80px;
  border-radius: 3px;
}

.background-options .background-card-body {
  width: 60%;
  height: 20px;
}

.format .style-content {
  display: flex;
  justify-content: space-around;
}

.format .wide,
.format .square {
  border: 1.8px solid black;
  border-radius: 4px;
  opacity: .6;
}

/* .format .wide:hover, */
.format .wide:active,
/* .format .square:hover, */
.format .square:active {
  opacity: 1;
}

.format .wide {
  padding: 1px 10px;
}

.format .square {
  padding: 1px 6px;
}

/* Overwrite summernote classes */

body .popover,
span.note-icon-caret {
  display: none;
}
