/* PAGE */

#page {
  padding: 0;
}

.navbar {
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

/* PALETA DE CORES */

.purple1 {
  color: #fd5dff;
}

.purple2 {
  color: #7d01a1;
}

.green1 {
  color: #03e571;
  background-color: #03e571;
}

.green2 {
  color: #00fe81;
  background-color: #00fe81;
}

.red {
  color: #fe4a72;
}

.blue1 {
  color: #00ffed;
  background-color: #00ffed;
}

.blue2 {
  color: #00b0f5;
}

.gray {
  color: #d9d9d9;
}

/* Home */

.row.step {
  height: 20px;
  margin-left: 0;
  margin-right: 0;
}

.step div {
  height: inherit;
}

.music-search {
    margin-top: 100px;
    margin-bottom: 10px;
}

.music-search .form-group {
  margin-bottom: 0px;
}

.music-search ul {
  margin: 0;
  padding-left: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000000;
  margin-left: 15px;
  margin-right: 15px;
}

.music-search ul li {
  list-style: none;
  font-size: 15px;
  padding: 12px;
  color: black;
}

.music-search ul li a {
  color: black;
}

.music-search ul li:hover {
  background-color: #d9d9d9;
  text-decoration: none;
}

.music-search ul li a:hover {
  text-decoration: none;
}

.download {
  margin-top: 20px;
}

.colors .square {
  cursor: pointer;
}

.colors .square:focus {
  outline: 1px solid blue;
}

/* .square {
  height: 80px;
  width: 80px;
  background: red;
} */

.rectangle {
  height: 20px;
  width: 60px;
  background: black;
  position: relative;
  top: 30px;
  left: 10px;
}

.black {
  background: #000000;
}

.presentation-style {
  margin-top: 40px;
  text-align: center;
}

.style-header {
  background-color: #e4e4e4;
  padding: 5px 10px;
}

.style-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 50px;
  border: 2px solid #f3f3f3;
}

.font .font-options {
  background: transparent;
  opacity: 0;
  display: none;
}

.font .font-options.fadeIn {
  animation: fadeIn .5s ease-out forwards;
  display: block;
}

.font .font-options.fadeOut {
  animation: fadeOut .5s ease-in forwards;
  display: block;
}

.font .font-options.fadeOut.out {
  display: none;
}

.default-font {
  font-family: 'Roboto'
}

.font-options .font-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 7px 0;
  height: 60px;
  border-radius: 3px;
  cursor: pointer;
}

.font-options .font-card:hover {
  background: #7d01a1;
  color: #fff;
}

.font-options .font-card-body {
  font-size: 14px;
}

.primary-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
}

.primary-background.default-bg {
  background-color: #000000;
}

.secondary-background {
  width: 60%;
  height: 20px;
}

.secondary-background.default-inner {
  background-color: #8393ca;
}

.background .background-options {
  background: transparent;
  opacity: 0;
  display: none;
}

.background .background-options.fadeIn {
  animation: fadeIn .5s ease-out forwards;
  display: block;
}

.background .background-options.fadeOut {
  animation: fadeOut .5s ease-in forwards;
  display: block;
}

.background .background-options.fadeOut.out {
  display: none;
}

.background-options .background-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 7px 0;
  height: 80px;
  border-radius: 3px;
  cursor: pointer;
}

.background-options .background-card-body {
  width: 60%;
  height: 20px;
}

.format .style-content {
  display: flex;
  justify-content: space-around;
}

.format .wide,
.format .square {
  border: 1.8px solid black;
  border-radius: 4px;
  opacity: .6;
  cursor: pointer;
}

.format .wide:hover,
.format .wide.active,
.format .square:hover,
.format .square.active {
  opacity: 1;
  border-color: #7d01a1;
  color: #7d01a1;
}

.format .wide {
  padding: 1px 10px;
}

.format .square {
  padding: 1px 6px;
}

.style-header .btn-toggle-option {
  background: #7d01a1;
  color: #fff;
  float: right;
  cursor: pointer;
  text-align: center;
  width: 26px;
  border-radius: 7px;
}

.style-header .btn-toggle-option .fa {
  font-size: 16px;
}

.download {
  width: 100%;
}

.download .btn {
  background: #73f181;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 15px;
}

/* Overwrite summernote classes */

body .popover,
span.note-icon-caret {
  display: none;
}

.dropdown-menu li {
  text-align: center
}

.dropdown-menu li:hover {
  background: lightgrey;
}

.dropdown-menu li a {
  color: #000;
}

/* CSS Animation Keyframes*/

@keyframes fadeIn {
  0% {
    transform: translateY(-65px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: inline-flex;
    transform: translateY(0);
    opacity: 1;
  }

  99% {
    display: inline-flex;
    transform: translateY(-65px);
    opacity: 0;
  }

  100% {
    display: none;
    transform: translateY(-65px);
    opacity: 0;
  }
}


