/* PAGE */

#page {
    padding: 0;
}

.navbar {
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

/* PALETA DE CORES */

.purple1 {
    color: #fd5dff;
}

.purple2 {
    color: #7d01a1; 
}

.green1 {
    color: #03e571;
    background-color: #03e571;
}

.green2 {
    color: #00fe81;
    background-color: #00fe81;
}

.red {
    color: #fe4a72;
}

.blue1 {
    color: #00ffed;
    background-color: #00ffed;
}

.blue2 {
    color: #00b0f5;
}

.gray {
    color: #d9d9d9;
}

/* Home */
.step 
{
    height: 20px;
}

.step div {
    height: inherit;
}

.music-search {
    margin-top: 150px;
}

.music-search  .form-group{
    margin-bottom: 0px;
}

.music-search ul{
    margin: 0;
    padding-left: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000000;
    margin-left: 15px;
    margin-right: 15px;
}

.music-search ul li{
    list-style: none;
    font-size: 15px;
    padding: 12px;
    color: black;
}

.music-search ul li a {
    color: black;
}

.music-search ul li:hover {
    background-color: #d9d9d9;
    text-decoration: none;
}

.music-search ul li a:hover {
    text-decoration: none;
}

.download {
    margin-top: 20px;
}